.layer {
    position: fixed;
}

.layer.mask {
    background: rgba(0, 0, 0, 0.3);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/* ----alert---- */

.layer .layer_alert {
    width: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
}

.layer .layer_alert .layer_alert_title {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    position: relative;
}

.layer .layer_alert .layer_alert_title>div.close {
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 0;
    top: 5px;
    font-size: 16px;
    cursor: pointer;
}

.layer .layer_alert .layer_alert_content {
    height: 250px;
    padding: 10px 0;
    font-size: 14px;
    line-height: 120%;
}

.layer .layer_alert .layer_alert_button {
    height: 40px;
}

/* ----layer_popup---- */

.layer.layer_popup {
    top: 5px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border: 1px solid #eee;
    font-size: 14px;
    text-align: center;
    padding: 0 20px;
    min-width: 300px;
    max-width: 90%;
    left: 50%;
    transform: translateX(-50%);
    animation: popupAnimation .5s normal;
}

.layer.layer_popup.success {
    color: green;
}

.layer.layer_popup.error {
    color: red;
}

@keyframes popupAnimation {
    from {
        transform: translate(-50%, 50%);
    }
    to {
        transform: translateY(-50%, 0);
    }
}