/* ----通用---- */

.clr {
    clear: both;
}

.overflow {
    white-space: nowrop;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.text-c {
    text-align: center;
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

/* 外边距 */

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

/* ----按钮---- */

.tbtn {
    height: 38px;
    line-height: 38px;
    text-align: center;
    min-width: 60px;
    padding: 0 10px;
    font-size: 14px;
    background-color: white;
    color: #333;
    border: 1px solid #ddd;
    cursor: pointer;
}

.tbtn:hover {
    background-color: #f6f6f6;
}

.tbtn.sure {
    background-color: #467B96;
    border-bottom: 1px solid #467B96;
    color: white;
}

.tbtn.sure:hover {
    background-color: #326781;
    border-bottom: 1px solid #326781;
}

.tbtn.disable {
    opacity: 0.5;
    cursor: not-allowed;
}

/* ----分页-加载更多---- */
.typecho-pager-more{text-align: center;padding: 5px 0;}
.typecho-pager-more .page-more-getmore{cursor: pointer; color: #999;}
.typecho-pager-more .page-more-getmore:hover{text-decoration: underline; color: #467B96;}
.typecho-pager-more .page-more-nodata{color: #999;}
.typecho-pager-more .page-more-loading{color: #999;}

/* ----loading---- */
.shadow_dot {
    display: inline-block; min-width: 2px; min-height: 2px;
    box-shadow: 2px 0 currentColor, 6px 0 currentColor, 10px 0 currentColor;
    -webkit-animation: shadow_dot 2s infinite step-start both;
    animation: shadow_dot 2s infinite step-start both;
}
.shadow_dot:before { content: '...'; } /* IE8 */
.shadow_dot::before { content: ''; }
:root .shadow_dot { margin-right: 8px; } /* IE9+,FF,CH,OP,SF */

@-webkit-keyframes shadow_dot {
    25% { box-shadow: none; }
    50% { box-shadow: 2px 0 currentColor; }
    75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor; }
}
@keyframes shadow_dot {
    25% { box-shadow: none; }
    50% { box-shadow: 2px 0 currentColor; }
    75% { box-shadow: 2px 0 currentColor, 6px 0 currentColor; }
}